<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <!--
      LogLevel:
        1 => Limited
        2 => Verbose
      -->
      <add key="App.LogLevel" value="2"/>

      <add key="MonitorDBConnectionString" value="Server=10.105.154.92;Initial Catalog=CitrixSiteMonitoring;Integrated Security=True"/>

      <add key="Simulation.Iterations" value="1"/>
      <add key="Simulation.TimeRange.Days" value="31"/>

      <add key="Simulation.VDA.Machine.IpAddress" value="10.150.156.212"/>
      <add key="Simulation.VDA.Machine.IsRemoteDomain" value="true"/>
      <add key="Simulation.VDA.Machine.MaxSessions" value="10"/>
      <add key="Simulation.VDA.Machine.Admin.Username" value="administrator"/>
      <add key="Simulation.VDA.Machine.Admin.Password" value="citrix"/>
      <add key="Simulation.VDA.Machine.Admin.Domain" value="xd.local"/>

      <add key="Simulation.VDA.Machine.Ids" value="9CF673C0-5F1A-4075-9783-00F06F2388DB,9CF673C0-5F1A-4075-9783-00F06F2388DB"/>

    </appSettings>
</configuration>